<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h4>Ajouter Category</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="articleForm">

      <div class="form-group">
        <label for="Nom">Nom</label>
        <input class="form-control" formControlName="Nom" id="Nom" type="text">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" formControlName="description" id="description" type="text">
      </div>

      <div class="form-group">
        <label for="Quantite">Quantite</label>
        <input class="form-control" formControlName="Quantite" id="Quantite" type="number">
      </div>

      <div class="form-group">
        <label>Category</label>
        <select class="form-control" id="category" formControlName="category" ngModel>
          <option *ngFor="let categorie of categories" [ngValue]="categorie.id">
            {{categorie.name}}
          </option>
        </select>
      </div>

      <button [disabled]="articleForm.invalid" class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>

</div>
