<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Category update</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="updateCategory()" [formGroup]="categoryForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input formControlName="name" class="form-control" id="name" type="text">

      <div *ngIf="categoryForm.controls.name.errors && categoryForm.controls.name.errors.required"
           class="alert-danger">the name is required</div>
<!--      {{-->
<!--      categoryForm.controls.name.errors |json-->
<!--      }}-->
      <div *ngIf="categoryForm.controls.name.errors && categoryForm.controls.name.errors.minlength"
           class="alert-danger">Name must be at least 5 characters long</div>
    </div>

    <button [disabled]="categoryForm.invalid" class="btn btn-success" type="submit">Submit</button>

  </form>
</div>
