<div *ngIf="!categoryId" class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class=" text-primary">
    <th>Name</th>
    </thead>
    <tbody>

    <tr *ngFor="let categorie of categories">

      <td>{{categorie.name}}</td>

      <td>
        <div class="col-md-2">
          <button
            (click)="DetailsCategory(categorie.id, categorie.name)"
            class="btn btn-light"
          >Details
          </button>
        </div>
      </td>

      <td>
        <div class="col-md-2">
          <button (click)="updateCategory(categorie, categorie.id)" class="btn btn-info">Editer</button>
        </div>
      </td>

      <td>
        <div class="col-md-2">
          <button (click)="onDelete(categorie.id)" class="btn btn-danger">Supprimer
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="categoryId">
  <app-details-category [childExemple]="categoryId" [childExempletwo]="categoryName"></app-details-category>
</div>
