<header>
  <!--  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>-->

  <div class="container">
    <a routerLink="/" class="logo">CoolApp</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">List</a></li>
        <li><a href="#" routerLink="/listArticle">Liste Articles</a></li>
        <li><a href="#" routerLink="/addArticle">ajouter Article</a></li>
        <li><a href="#" routerLink="/addCategory">ajouter Categorie</a></li>
        <li><a href="#" routerLink="/listCategory">Liste Categories</a></li>
        <li><a href="#" routerLink="/listusers">Liste des utilisateurs</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

