
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h4>Modifier Article</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="editArticleForm">

      <div class="form-group">
        <label for="nom">Nom</label>
        <input class="form-control" formControlName="nom" id="nom" type="text">
      </div>

      <div class="form-group">
        <label for="description">description</label>
        <input class="form-control" formControlName="description" id="description" type="text">
      </div>

      <div class="form-group">
        <label for="quantite">Quantite</label>
        <input class="form-control" formControlName="quantite" id="quantite" type="number">
      </div>

      <div class="form-group">
        <label>Category</label>
        <select class="form-control" id="category" formControlName="category" ngModel>
          <option *ngFor="let categorie of categories" [ngValue]="categorie.id">
            {{categorie.name}}
          </option>
        </select>
      </div>

      <div class="col-md-2">
      <button [disabled]="editArticleForm.invalid"
              class="btn btn-success"
              type="submit">Submit
      </button>
      </div>
    </form>
  </div>
<!--  routerLink="/listArticle"-->
</div>
