<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class=" text-primary">
    <th>Nom</th>
    <th>Description</th>
<!--        <th>Categorie</th>-->
    </thead>
    <tbody>

    <tr *ngFor="let article of articles">
      <td> <a (click)="DetailsArticle(article.id)" routerLink="/detailsarticle">{{article.nom}}</a></td>
      <td>{{article.description}}</td>
<!--            <td>{{article.category.name}}</td>-->

      <td>
        <div class="col-md-2">
          <button (click)="onUpdateArticle(article, article.id)" routerLink="/editarticle"
                  class="btn btn-light">Modifier
          </button>
        </div>
      </td>

      <td>
        <div class="col-md-2">
          <button
            (click)="DetailsArticle(article.id)"
            class="btn btn-info">Details
          </button>
        </div>
      </td>

      <td>
        <div class="col-md-2">
          <button (click)="onDeleteArticle(article.id)" class="btn btn-danger">Supprimer
          </button>
        </div>
      </td>

      <!--      {{-->
      <!--      article.category |json-->
      <!--      }}-->

    </tr>
    </tbody>
  </table>
</div>

