<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h4>Ajouter Category</h4>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" class="form-control" id="name" type="text">

          <div *ngIf="categoryForm.controls.name.errors && categoryForm.controls.name.errors.required"
               class="alert-danger">the name is required</div>
        {{
        categoryForm.controls.name.errors |json
        }}
          <div *ngIf="categoryForm.controls.name.errors && categoryForm.controls.name.errors.minlength"
               class="alert-danger">Name must be at least 5 characters long</div>
      </div>

      <button [disabled]="categoryForm.invalid" class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>

</div>

