<div class="table-responsive">
  <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
         datatable>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Numero Telephone</th>
      <th>Statut</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="users?.length != 0">
    <tr *ngFor="let user of users">

      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.etatCompte}}</td>
      <td>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2">
          <a (click)="open(content,user.id)" class="btn btn-info" data-toggle="modal" type="button">Editer
            <i class="cui-paperclip icons font-2xl d-block mt-0"></i>
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--********Modal***********-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier utilisateur</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <form  [formGroup]="editUserForm">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input class="form-control" formControlName="nom" id="nom" type="text">
          </div>
          <div class="form-group">
            <label for="prenom">Prenom</label>
            <input class="form-control" formControlName="prenom" id="prenom" type="text">
          </div>
          <div class="form-group">
            <label for="mail">Mail</label>
            <input class="form-control" formControlName="mail" id="mail" type="text">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Numero de telephone</label>
            <input class="form-control" formControlName="phoneNumber" id="phoneNumber" type="text">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('Save click')" class="btn btn-outline-dark" type="button">Save</button>
  </div>
</ng-template>
